body {
  background: #ec686b;
  width: 1440px;
  height: 1994px;
}

.container {
  width: 400px;
  display: flex;
  border: 2px solid black;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  background: #ed5557;
  border-radius: 30%;
  margin: 400px auto;
  position: relative;
  box-shadow: inset -1px -10px 1px 1px #d73a3b;
}

.wind-shield {
  width: 273px;
  height: 88px;
  border: 3px solid black;
  margin: 0 auto;
  position: absolute;
  top: 15.2%;
  left: 30.3%;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.rear-view-mirror {
  position: absolute;
  background-color: black;
  height: 20px;
  width: 4px;
  top: 0px;
}

.mirror {
  position: absolute;
  width: 40px;
  height: 10px;
  background-color: black;
  top: 20px;
  left: -18px;
  border-radius: 10px;
}

.glass {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-shadow: inset 40px 0 0 0 rgba(255, 255, 255, 0.4);
  border-radius: inherit;
  z-index: -50;
}

.left-glass {
  position: absolute;
  width: 50%;
  height: 100%;
  flex: 1;
}

.right-glass {
  position: absolute;
  width: 50%;
  height: 100%;
  flex: 1;
}

.left-light {
  border-radius: 0px 100px 20px 100px;
}

.right-light {
  border-radius: 100px 0px 100px 20px;
}

.inner-left {
  border-radius: 0px 100px 20px 100px;
}

.inner-right {
  border-radius: 100px 20px 100px 0px;
  left: 7%;
}

.inner-2-left {
  border-radius: 0px 100px 20px 100px;
}

.inner-2-right {
  border-radius: 100px 20px 100px 0px;
  left: 60%;
}

.inner {
  border: 2px solid black;
  height: 30px;
  width: 90%;
  position: relative;
  top: 5px;
  background: #373232;
  box-shadow: inset 1px 1px 2px 0px black;
}

.inner-2 {
  border: 1px solid black;
  width: 40%;
  height: 100%;
  background: #f08d40;
  box-shadow: inset 0px 10px 0px 0px #b66e2c;
  position: absolute;
}

.light {
  border: 2px solid black;
  width: 130px;
  height: 50px;
  position: relative;
  background: white;
}

.logo {
  width: 55px;
  height: 80px;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  justify-content: center;
  align-items: center;
}

.line1,
.line2,
.line3,
.line4 {
  height: 10%;
  background: black;
  border-radius: 3px;
}

.line1 {
  width: 75%;
}

.line2 {
  width: 70%;
}

.line3 {
  width: 65%;
}

.line4 {
  width: 60%;
  height: 20%;
  border-radius: 10px 10px 60px 60px;
}

.logo .top {
  height: 20%;
  width: 80%;
  background: black;
  position: relative;
  border-radius: 10px 10px 2px 2px;
  border-top: white 1px solid;
}

.logo .top .circle {
  width: 30px;
  height: 16px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: 7px;
}

.white-circle {
  width: 24px;
  height: 12px;
  background: white;
  position: absolute;
  border-radius: 50%;
  top: -3px;
  left: 10px;
}

.beam {
  width: 62px;
  height: 62px;
  background-color: #d73a3b;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
  top: -20px;
  box-shadow: inset 0 10px 0px 0px red;
  border: 5px solid black;
}

.inner-white {
  width: 70%;
  height: 70%;
  border-radius: inherit;
  background: white;
  position: absolute;
  left: 4px;
  border: 5px solid black;
  box-shadow: inset 0px 5px 1px 1px #c2c2c4;
}

.seat {
  width: 80px;
  height: 20px;
  background: black;
  border-radius: 10px;
}

.steering-wheel {
  width: 60px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid black;
  position: absolute;
  top: 56px;
  left: 163px;
}

.hoodie {
  width: 60%;
  height: 120px;
  border: 1px solid black;
  position: relative;
  border-radius: 6px 6px 20px 20px;
  border-bottom: white 1px solid;
}

.intil {
  width: 1px;
  height: 100px;
  background: radial-gradient(white, #817676);
  left: -30px;
  top: 2px;
  position: absolute;
  transform: rotateZ(5deg);
}

.tires {
  height: 100px;
  width: 398px;
  position: absolute;
  left: 528px;
  top: 570px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  z-index: -100;
}

.tire {
  width: 50px;
  height: 80%;
  background: #373232;
  border: 1px solid black;
  box-shadow: inset #4f4848 0px -5px 0px 0px;
  border-radius: 10px;
}

.under {
  width: 290px;
  height: 15px;
  background-color: #373232;
  position: absolute;
  top: 600px;
  left: 583px;
  z-index: -12;
  border-radius: 0 0 10px 10px;
}

.background {
  position: absolute;
  height: 600px;
  width: 600px;
  border-radius: 50%;
  left: 400px;
  background-color: #fb7578;
  top: 200px;
  z-index: -8000;
}

.first-lane {
  position: absolute;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background: #fb8282;
  left: 50px;
  top: 50px;
}

.second-lane {
  position: absolute;
  height: 400px;
  width: 400px;
  background: #fc999b;
  border-radius: 50%;
  left: 100px;
  top: 100px;
}

.o1 {
  order: 1;
}

.o2 {
  order: 2;
}

.o3 {
  order: 3;
}

.o4 {
  order: 4;
}

.o5 {
  order: 5;
}

.o6 {
  order: 6;
}

.o7 {
  order: 7;
}

/*# sourceMappingURL=style.css.map */
